.heading-primary {
    font-size: 3rem;
    font-weight: 600;
}

.heading-secondary {
    font-size: 2.4rem;
    font-weight: 500;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 400;

    @include respond(small) {
        font-size: 1.5rem;
    }
}